<div class="app-items-list">

    <div class="app-items-list__container" *ngIf="itemsLoaded">
        <div class="app-item" *ngFor="let item of items" (click)="goToDescription(item)">
            <div class="app-item--start">
                <div class="app-item__picture"><img [src]="item.picture" alt="Item picture"></div>
                <div class="app-item__body">
                    <div class="app-item__body--top">
                        <div class="app-item__body--top-price">
                            <app-price [amount]="item.price.amount" [currency]="item.price.currency" [decimals]="item.price.decimals"></app-price>
                        </div>
                        <img *ngIf="item.free_shipping" src="assets/images/ic_shipping.png" alt="free shipping">
                    </div>
                    <h2 class="app-item__body-title">{{item.title}}</h2>
                </div>
            </div>
            <div class="app-item__condition">
                <span>{{item.condition}}</span>
            </div>
        </div>
    </div>
</div>
