.app-items-list {
    top: 56px;
    position: relative;
    margin: 20px 50px 0 50px;
}

.app-item {
    display: flex;
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    //justify-content: space-between;
    &__photo img {
        width: 160px;
        height: 160px;
        margin-right: 8px;
    }
    &__body {
        margin-left: 8px;
        margin-right: 8px;
        &--top {
            display: flex;
            &-price {
                margin-right: 16px;
                font-size: 1.5rem;
            }
        }
    }
    &__condition {
        position: absolute;
        right: 50px;
        top: 25px;
    }
}